@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    color:#FFD43D;  
}

html {
    font-size: 100%;
}

/*=============================
SECCION MENU
===============================*/
header {
    background: url(./banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    padding-right: 40px;
}

input {
    display: none;
}

label.burger {
    margin-left: 20px ;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFD43D;
    margin: 6px 0;
    transition: 0.4s;
}

.menu {
    width: 0;
    height: 100vh;
    transition: width 0.5s;
    background: #FFD43D;
    position: absolute;
    top: 100%;
    margin-left: -100%;
}

ul.menu li {
    list-style: none;
    margin-bottom: 15px;
}

ul.menu li a {
    color: #2B475E;
    text-decoration: none;
}

#burger:checked ~ .menu {
    width: 250px;
    padding: 0 20px;
    padding-top: 20px;
    margin-left: 0;
}

section.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px 20px;
}

section.redes a img {
    width: 20px;
}

@media (max-width: 1024px) {
    header {
        position: static;
        height: 30vh;
    }
}

@media (max-width: 968px){
    section.redes, label.burger {
        background: #FF66C4;
        padding: 10px;
        border-radius: 10px;
    } 
}


/*=============================
SECCION ABOUT ME
===============================*/

.aboutMe {
    background: url(./20190608_130017.jpg);
    height: 2000px;
    width: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div.me {
    background:#2B475E;
    border-radius: 10px;
    padding: 40px;
    width: 25%;
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: center;
}

div.me h1 {
    font-family: 'Caveat';
    font-size: 3.5rem;
    color: #FF66C4;
}

.aboutMe p {
    background:#2B475E;
    color: #FFD43D;
    font-family: 'Libre Baskerville';
    line-height: 1.6;
    border-radius: 10px;
    padding: 40px;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 10%;
}

@media (max-width: 1024px) {
    .aboutMe {
        background-attachment: scroll;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }

    div.me {
        width: 80%;
        position:static;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        }

    div.me h1 {
        font-size: 2rem;
    }

    div.me h3 {
        font-size: 1rem;
    }

    .aboutMe p {
        width: 80%;
        position:static;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

/*=============================
SECCION REDES 
===============================*/

.instagram {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #2B475E;
    padding: 40px;
}

.instagram-media {
    height: 700px;
}

/*=============================
SECCION EXPERIENCIA Y EDUCACION
===============================*/

/* Set a background color */
.jobExp, .edu, .skills {
    padding-top: 40px;
    background-color: #2B475E;
    font-family: Helvetica, sans-serif;
}

.jobExp h1, .edu h1, .skills h1{
    text-align: center;
    background: #FF66C4;
    padding: 20px 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h2, p {
    color: #2B475E;
    margin-bottom: 15px;
}

label.webdev{
    color: #2B475E;
    padding-bottom: 20px;
}

ul.webdev {
    margin-top: 20px;
}

ul.webdev li {
    color: #2B475E;
    list-style: disc;
    line-height: 1.6;
    margin-left: 15px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #FFD43D;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container2 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #FF66C4;
    border: 4px solid #FFD43D;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #FFD43D;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #FFD43D;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #FFD43D;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFD43D transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #FFD43D;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    .container2 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container2::before {
        left: 60px;
        border: medium solid #FFD43D;
        border-width: 10px 10px 10px 0;
        border-color: transparent #FFD43D transparent transparent;
    }
    
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/*======================
        SKILLS
========================*/

div.skills {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

div.skills img {
    width: 10%;
}


/*======================
        FOOTER
========================*/
footer {
    position: absolute;
    position: fixed;
    left: 90vw;
    bottom: 2%;
    z-index: 2;
}

@media (max-width: 780px){
    footer{
        left: 70vw;
    }
}